<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> GZRU - Welcome to my online Space. </title>
    {% endif %}
</head>

<body>
    <!-- Random quotes section 
    <h3> Random Quotes</h3>
    <ul>
       {% for rndm_quote in quotes %}
           <li>{{ rndm_quote.quote}}</li>
           <li>{{ rndm_quote.author}}</li>
       {% endfor %} -->
   </ul>

</body>

</html>