{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> GZRU - Welcome to my online Space. </title>
    {% endif %}
</head>

<body>
    {% block content %}
    <div class="container-fluid"
        style="background-image: url(https://cdn2.unrealengine.com/blogAssets%2F2017%2FAUGUST+2017%2FDavid+at+SIGGRAPH+2017%2FFEATURE_David_SIGGRAPH_2017-1920x960-b6028804ea3cb1c981a7851d824fc744ed820204.jpg); height: 480px; background-repeat:no-repeat; background-position: top;     background-size: cover;">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
            <div class="py-5">
                <h2 class="h2 text-white animated heartBeat"
                    style="font-family: 'Abril Fatface', cursive; font-size: 40px; "><i class="gzru fa-newspaper"></i>
                    GZRU</h2>
            </div>
        </div>
    </div>


    <div class="container all-posts">



            <a class="ratings" href="/post/comment/new/{{post.id}}"> Write a new comment</a>
    </div>



    <!-- Random quotes section 
    <h3> Random Quotes</h3>
    <ul>
       {% for rndm_quote in quotes %}
           <li>{{ rndm_quote.quote}}</li>
           <li>{{ rndm_quote.author}}</li>
       {% endfor %}
   </ul> -->



    {% endblock%}

</body>

</html>